.month-calendar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.month-calendar__day-of-week-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  border-bottom: 1px solid var(--color-gray-300);
  padding: 0.75rem 0;
}

.month-calendar__day-of-week {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  text-align: center;
  font-weight: 500;
}

.month-calendar__day-list-wrapper{
  position: relative;
  flex: 1;
}

.month-calendar__day-list { 
  list-style-type: none;
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  overflow-y: auto;
}

.month-calendar--four-week .month-calendar__day-list {
  grid-template-rows: repeat(4, minmax(auto, 1fr));
}

.month-calendar--five-week .month-calendar__day-list {
  grid-template-rows: repeat(5, minmax(auto, 1fr));
}

.month-calendar--six-week .month-calendar__day-list {
  grid-template-rows: repeat(6, minmax(auto, 1fr));
}

.month-calendar__day {
  border-right: 1px solid var(--color-gray-300);
  border-bottom: 1px solid var(--color-gray-300);
  display: flex;
  flex-direction: column;
}

.month-calendar__day--highlight {
  background-color: var(--color-blue-50);
}

.month-calendar__day:nth-child(7n) {
  border-right: 0;
}

.month-calendar--four-week .month-calendar__day:nth-last-child(-n+7) {
  /* remove bottom border only for the last row */
  border-bottom: 0;
}

.month-calendar--five-week .month-calendar__day:nth-last-child(-n+7) {
  /* remove bottom border only for the last row */
  border-bottom: 0;
}

.month-calendar--six-week .month-calendar__day:nth-last-child(-n+7) {
  /* remove bottom border only for the last row */
  border-bottom: 0;
}

.month-calendar__day-label {
  width: 100%;
  padding: 0.5rem 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: var(--color-text-dark);
}

.month-calendar__event-list-wrapper {
  flex-grow: 1;
  padding-bottom: 1.5rem;
} 